.root {
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    color: #fe5f1e;
    justify-content: center;
    text-align: center;
    line-height: 5px;
    width: 45px;
    height: 25px;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: #fe5f1e;
      color: #fff;
    }
  }
}

:global {
  .selected {
    a {
      background: #fe5f1e;
      color: #fff;
    }
  }
}